{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8" />
    <link href={% static "css/style.css" %} rel="stylesheet">

</head>
<header>
   <nav>
  		<ul>
  			<li><a href="#">Categorias</a></li>
  			<li><a href="#">HyperJumbo</a></li>
        <li><input type= text ></li>
  			<li><a href="#">Buscador</a></li>
  			<li><a href="#">Registrarse</a></li>
  			<li><a href="#">Ingresar</a></li>
  		</ul>
  	</nav>
</header>
{% block content %}
{% endblock %}
</html>
