{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <link href={% static "css/style.css" %} rel="stylesheet">
</head>
<body>
  <header>
    <div id="nav">
      <nav>
        <ul>
          <li><a href="#">Iniciar Session</a></li>
          <li><a href="#">Registrarse</a></li>
        </ul>
      </nav>
    </div>
    <div id="nav-icon">
      <nav>
        <ul>
          <li><a href="#"><img src="d" ></a></li>
          <li><a href="#"><img src="d" ></a></li>
        </ul>
      </nav>
    </div>
    <div id="form">
      <form>
        <button type="submit"> Buscar</button>
        <input type="text" />
        <!-- <input type="submit" class="buscar" value="Buscar" /> -->
      </form>
    </div>
    <div id="menu">
      <button type="submit">Menu</button>
    </div>
    <div id="logo">
      <img src="" width="150" height="40">
    </div>

  </header>
  <div id="wrapper">
    {% block content %}
    {% endblock %}
  </div>
<footer>
</footer>
</body>
</html>
