{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href={% static "css/style.css" %} rel="stylesheet">
  <link href={% static "css/normalize.css" %} rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<!-- Todo el header es la barra de navegación -->
  <header>
<!-- Elemento 1: menu de navegación para pantallas grandes -->
    <div id="nav">
      <nav>
        <ul>
          <li><a href="#"><button class="ripple">Iniciar Sesion</button></a></li>
          <li><a href="#"><button class="ripple">Registrarse</button></a></li>
        </ul>
      </nav>
    </div>
<!-- Fin del elemento 1 -->
<!-- Elemento 2: Formulario de busqueda -->
    <div id="form">
      <form>
        <button type="submit"><img src="{% static "img/icons/search1x.png" %}" ></button>
        <input type="text" placeholder="Busqueda"/>
        <!-- <input type="submit" class="buscar" value="Buscar" /> -->
      </form>
    </div>
<!-- Fin del elemento 2 -->
<!-- Elemento 3: Boton para invocar menu lateral -->
    <div id="menu-icon">
      <a href="javascript:showLightbox();"><img src="{% static "img/icons/menu.png" %}" ></a>
    </div>
<!-- Fin del elemento 3 -->
<!-- Elemento 4: Logo -->
    <div id="logo">
      <h2>HyperJumbo</h2>
    </div>
<!-- Fin del elemento 4 -->
  </header>
<!-- Menu lateral -->
  <nav>
      <ul id="menu-icon-clear">
        <a href="javascript:hideLightbox();"><img src="{% static "img/icons/clear_black1x.png" %}" ></a>
      </ul>
      <ul id="menu-side">
        <li><a href="#"><button class="ripple">Ingresar</button></a></li>
        <li><a href="#"><button class="ripple">Registrarse</button></a></li>
        <li><a href="#"><button class="ripple">Salir</button></a></li>
      </ul>
  </nav>
<!-- Fin del menu lateral -->
<!-- Contenedor del contenido principal -->
  <div id="wrapper">
    {% block content %}
    {% endblock %}
  </div>
<!-- Fin del contenido -->
<footer>
  <div id="contacts">
    <div id="box">
      <h3>Contacto</h3>
      <ul>
        <li><a href="#">Hyper@gmail.com</a></li>
        <li><a href="#">http://www.hyperjumbomall.com</a></li>
      </ul>
    </div>
  </div>
  </div>
  <div id="social-network">
    <div id="box">
      <h3>Redes Sociales</h3>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
  </div>
  <div id="hyper-logo">
    <img src="{% static "img/logo.jpg" %}" width="200" height="200">
  </div>
  <div id="copyright">
    <center><p>Copyright © 2016 Hyper Jumbo Mall</p></center>
  </div>
</footer>
<!-- Capa oscura que aparece cuando se hace click en el icono de menu -->
<a href="javascript:hideLightbox();"><div id="fade" class="fadebox">&nbsp;</div></a>
<!-- Fin de la capa -->
<script type="text/javascript" src="{% static "js/script.js" %}"></script>
</body>
</html>
