{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Bienvenidos{% endblock %}
{% block content %}
<aside>
  <div id="sub-menu">
    <div id="category">
      <ul>
        <li><a href="#">Computación</a></li>
        <li><a href="#">Papeleria</a></li>
      </ul>
    </div>
  </div>
</aside>
<section>
  <div id="products">
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>
    <article>
      <a href="#"><img src="{% static "img/default.jpg" %}"></a>
      <h4>Mouse Inalambrico marca Hp con botones latrales</h4>
      <h2>Bs 8500</h2>
    </article>


  </div>
</section>

{% endblock %}
