{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Bienvenidos{% endblock %}
{% block content %}
<body>
    <wrapper>
      <h5>Wrapper</h5>
        <section>
          <h1>Section</h1>
           <article>
               <h1>Article1<h1>
           </article>
           <article>
               <h1>Article2<h1>
           </article>
        </section>
        <aside>
           <h1>Aside</h1>
           <article>
               <h1>Article1<h1>
           </article>
           <article>
               <h1>Article2<h1>
           </article>
        </aside>
    </wrapper>
    <footer>
      <h1>Footer</h1>
    </footer>
</body>
{% endblock %}
