* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

header {
  background-color: #0650a0;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 0px 3px grey;
}

#menu {
  float: left;
  margin: 10px;
}

#logo {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  display: none;
}

#form {
  float: right;
  margin-top: 10px;
  width: 81%;
}
#form input {
  float: right;
  margin: 10px;
  width: 70%;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid white;
}
#form button {
  width: 50px;
  float: right;
  margin: 10px;
  background: #0650a0;
  border: none;
}

#nav-icon {
  float: right;
}
#nav-icon nav {
  /* Desplazamos el nav hacia la izquierda */
}
#nav-icon nav ul {
  list-style: none;
  overflow: hidden;
  /* Limpiamos errores de float */
}
#nav-icon nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: none;
}
#nav-icon nav ul li a {
  display: block;
  /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#nav {
  float: right;
}
#nav nav {
  /* Desplazamos el nav hacia la izquierda */
}
#nav nav ul {
  list-style: none;
  overflow: hidden;
  /* Limpiamos errores de float */
}
#nav nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: none;
}
#nav nav ul li a {
  display: block;
  /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
#nav nav ul li:hover {
  background: #038b47;
}

#wrapper {
  display: inline-block;
  float: overflow;
  width: 100%;
  height: auto;
  padding-top: 60px;
}

section {
  float: right;
  width: 100%;
}

#products {
  width: 90%;
  margin: 0 auto;
}
#products article {
  display: inline-block;
  width: 95%;
  height: 350px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px grey;
}
#products article img {
  box-shadow: 0px 0px 3px grey;
  width: 98%;
  height: 70%;
  margin: 3px;
}
#products article h4, #products article h2 {
  margin: 3px;
}

aside #sub-menu {
  display: none;
  float: left;
  width: 250px;
  height: 500px;
  margin: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px grey;
}
aside #sub-menu #category {
  margin: 20px;
}
aside #sub-menu #category h3 {
  margin-bottom: 10px;
}
aside #sub-menu #category ul {
  list-style: none;
}

footer {
  background-color: #0650a0;
  box-shadow: 0px 0px 3px grey;
  display: inline-block;
  float: overflow;
  width: 98%;
  height: 250px;
  padding-left: 1%;
  padding-right: 1%;
  color: #ffffff;
}
footer h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
footer ul {
  list-style: none;
}
footer #copyright {
  width: 97%;
  height: 50px;
  float: left;
  background-color: #0650a0;
}
footer #hyper-logo {
  width: 97%;
  height: 200px;
  background-color: #0650a0;
  float: left;
}
footer #social-network {
  width: 97%;
  height: 200px;
  background-color: #0650a0;
  float: left;
}
footer #contacts {
  width: 97%;
  height: 200px;
  background-color: #0650a0;
  float: left;
}

@media screen and (min-width: 481px) {
  #form {
    width: 85%;
  }
  #form input {
    width: 70%;
  }
}
@media screen and (min-width: 767px) {
  aside #sub-menu {
    display: inline;
    border-radius: 10px;
    width: 250px;
    background-color: #ffffff;
    height: 500px;
  }

  #menu {
    display: none;
  }

  #logo {
    display: inline;
  }

  #nav-icon nav ul li {
    display: inline;
  }

  #form {
    width: 61%;
  }
  #form input {
    width: 78%;
  }

  section {
    width: 65%;
  }

  #products article {
    width: 45%;
  }

  footer #hyper-logo {
    width: 32%;
  }
  footer #social-network {
    width: 32%;
  }
  footer #contacts {
    width: 32%;
  }
}
@media screen and (min-width: 950px) {
  #menu {
    display: none;
  }

  #logo {
    display: inline;
  }

  #nav-icon nav ul li {
    display: none;
  }

  #nav nav ul li {
    display: inline;
  }

  #form {
    width: 50%;
  }

  section {
    width: 72%;
  }

  #products article {
    width: 29%;
  }
}
@media screen and (min-width: 1024px) {
  #menu {
    display: none;
  }

  #logo {
    display: inline;
  }

  #nav-icon nav ul li {
    display: none;
  }

  #nav nav ul li {
    display: inline;
  }

  #form {
    width: 55%;
  }
  #form input {
    width: 80%;
  }

  section {
    width: 74%;
  }
}
@media screen and (min-width: 1200px) {
  #menu {
    display: none;
  }

  #logo {
    display: inline;
  }

  #nav-icon nav ul li {
    display: none;
  }

  #nav nav ul li {
    display: inline;
  }

  #form {
    width: 60%;
  }
  #form input {
    width: 85%;
  }

  section {
    width: 78%;
  }
}

/*# sourceMappingURL=style.css.map */
