* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0650a0;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 0px 3px grey;
}

#menu {
  float: left;
  margin: 10px;
}

#logo {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  display: none;
  color: white;
}

#form {
  float: right;
  margin-top: 10px;
  width: 77%;
}
#form input {
  float: right;
  margin: 10px;
  width: 59%;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
}
#form button {
  width: 50px;
  float: right;
  margin: 10px;
  background: #0650a0;
  border: none;
}

#nav-icon {
  float: right;
}
#nav-icon nav ul {
  list-style: none;
  overflow: hidden;
  /* Limpiamos errores de float */
}
#nav-icon nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: none;
}
#nav-icon nav ul li a {
  display: block;
  /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#nav {
  float: right;
}
#nav nav ul {
  list-style: none;
  overflow: hidden;
  /* Limpiamos errores de float */
}
#nav nav ul li {
  float: left;
  font-size: 16px;
  display: none;
}
#nav nav ul li a {
  display: block;
  /* Convertimos los elementos a en elementos bloque para manipular el padding */
  text-decoration: none;
}
#nav nav ul li a button {
  background-color: #0650a0;
  border: none;
  color: #fff;
  padding: 20px;
  outline: none;
}

.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  border-radius: 50%;
  padding-top: 240%;
  padding-left: 240%;
  margin-top: -120%;
  margin-left: -120%;
  opacity: 0;
  transition: all 1s;
}
.ripple:active:after {
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  opacity: 1;
  transition: 0s;
}

#wrapper {
  display: inline-block;
  float: overflow;
  width: 100%;
  height: auto;
  padding-top: 60px;
}

section {
  float: right;
  width: 100%;
}

#products {
  width: 90%;
  margin: 0 auto;
}
#products article {
  display: inline-block;
  width: 95%;
  height: 350px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px grey;
}
#products article img {
  width: 98%;
  height: 70%;
}
#products article h4 {
  margin: 10px;
  color: gray;
}
#products article h2 {
  margin: 10px;
  color: #038b47;
}
#products article:hover {
  box-shadow: 0px 0px 20px grey;
}

aside #sub-menu {
  display: none;
  float: left;
  width: 250px;
  height: 500px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px grey;
}
aside #sub-menu #category h3 {
  color: grey;
}
aside #sub-menu #category ul {
  list-style: none;
}
aside #sub-menu #category li {
  padding: 15px;
  width: 88%;
}
aside #sub-menu #category li a {
  text-decoration: none;
  color: grey;
}
aside #sub-menu #category li:hover {
  background-color: #f2f2f2;
}

footer {
  background-color: white;
  box-shadow: 0px 0px 3px grey;
  display: inline-block;
  float: overflow;
  width: 98%;
  height: 250px;
  padding-left: 1%;
  padding-right: 1%;
  color: grey;
}
footer h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
footer ul {
  list-style: none;
}
footer #copyright {
  width: 97%;
  height: 50px;
  float: left;
  background-color: white;
}
footer #hyper-logo {
  width: 97%;
  height: 200px;
  background-color: white;
  float: left;
}
footer #social-network {
  width: 97%;
  height: 200px;
  background-color: white;
  float: left;
}
footer #social-network li {
  padding: 10px;
}
footer #social-network li a {
  text-decoration: none;
  color: grey;
}
footer #contacts {
  width: 97%;
  height: 200px;
  background-color: white;
  float: left;
}
footer #contacts li {
  padding: 10px;
}
footer #contacts li a {
  text-decoration: none;
  color: grey;
}

@media screen and (min-width: 481px) {
  #form {
    width: 89%;
  }
  #form input {
    width: 74%;
  }
}
@media screen and (min-width: 767px) {
  aside #sub-menu {
    display: inline;
    width: 250px;
    background-color: #ffffff;
    height: 500px;
  }

  #logo {
    display: inline;
  }

  #form {
    width: 71%;
  }
  #form input {
    width: 78%;
  }

  section {
    width: 64%;
  }

  #products article {
    width: 44%;
  }

  footer #hyper-logo {
    width: 32%;
  }
  footer #social-network {
    width: 32%;
  }
  footer #contacts {
    width: 32%;
  }
}
@media screen and (min-width: 950px) {
  #menu {
    display: none;
  }

  #logo {
    display: inline;
  }

  #nav-icon nav ul li {
    display: none;
  }

  #nav nav ul li {
    display: inline;
  }

  #form {
    width: 50%;
  }

  section {
    width: 71%;
  }

  #products article {
    width: 29%;
  }
}
@media screen and (min-width: 1024px) {
  #menu {
    display: none;
  }

  #logo {
    display: inline;
  }

  #nav-icon nav ul li {
    display: none;
  }

  #nav nav ul li {
    display: inline;
  }

  #form {
    width: 55%;
  }
  #form input {
    width: 80%;
  }

  section {
    width: 73%;
  }
}
@media screen and (min-width: 1200px) {
  #menu {
    display: none;
  }

  #logo {
    display: inline;
  }

  #nav-icon nav ul li {
    display: none;
  }

  #nav nav ul li {
    display: inline;
  }

  #form {
    width: 60%;
  }
  #form input {
    width: 85%;
  }

  section {
    width: 77%;
  }
}

/*# sourceMappingURL=style.css.map */
