$blue:#0650a0; //Blue color primario
$white:#ffffff; //white color secundario
$grey:#808080; //Grey color auxuliar
$grey2:#efefef; //Grey2 color complementario
$green:#038b47; //Green color para resaltar
